<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucas.haushaltsmanager">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainTab.TabParentActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ExpenseScreenActivity"
            android:label="HaushaltsManager"
            android:parentActivityName=".Activities.MainTab.TabParentActivity"/>
        <activity
            android:name=".Activities.ShowCategoriesActivity"
            android:label="Categories"
            android:parentActivityName=".Activities.MainTab.TabParentActivity"/>
        <activity
            android:name=".BookingTemplates"
            android:label="BookingTemplate"
            android:parentActivityName=".Activities.MainTab.TabParentActivity"/>
        <activity
            android:name=".Activities.RecurringBookingsActivity"
            android:label="RecurringBookings"
            android:parentActivityName=".Activities.MainTab.TabParentActivity"/>
        <activity
            android:name=".Activities.CreateNewAccountActivity"
            android:label="CreateNewAccount"
            android:parentActivityName=".Activities.MainTab.TabParentActivity"/>
        <activity
            android:name=".Activities.CreateNewCategoryActivity"
            android:label="CreateNewCategory"
            android:parentActivityName=".Activities.MainTab.TabParentActivity"/>
        <activity
            android:name=".Activities.TestPieChart"
            android:label="TestPieChart"
            android:parentActivityName=".Activities.MainTab.TabParentActivity"/>
        <activity
            android:name=".Activities.ImportExportActivity"
            android:label="ExportImportActivity"
            android:parentActivityName=".Activities.MainTab.TabParentActivity"/>
        <activity
            android:name=".Activities.CreateBackupActivity"
            android:label="CreateBackupActivity"
            android:parentActivityName=".Activities.MainTab.TabParentActivity"/>
        <activity
            android:name=".Activities.TransferActivity"
            android:label="TransfersActivity"/>

        <receiver
            android:name=".MyAlarmReceiver"
            android:process=":remote"/>

        <service
            android:name=".Services.ExchangeRateService"
            android:exported="false"
            android:label="ExchangeRateService"/>
        <service
            android:name=".Services.ExchangeService"
            android:exported="false"
            android:label="ExchangeService"/>
        <service
            android:name=".Services.BackupService"
            android:exported="false"
            android:label="BackupService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>